.modules-container {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.mat-card-container {
  width: 20vw;
  height: 10vh;
}

.modules-mat-card-content {
  margin: 2%;
  padding: 2%;
}
